<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>account</key>
	<string>0702552520</string>
	<key>password</key>
	<string>65778592728</string>
	<key>domain</key>
	<string>210.202.37.33:5060</string>
</dict>
</plist>
